body {
  height: 100%;
  margin: 0 0;
}
.wrapper {
  display: flex;
}

header {
  background-color: rgb(119, 0, 255);
  height: 4em;
}

aside {
  background-color: green;
  width: 30%;
  margin-top: 0;
  height: 33.8em;
}

main {
  background-color: rgb(255, 58, 58);
  width: 100%;
  margin-top: 0;
}

footer {
  background-color: rgb(153, 76, 153);
  height: 4em;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: white;
  font-size: 17px;
}
